version: 2.1

executors:
  build:
    parameters:
      go-version:
        type: string
    docker:
      - image: circleci/golang:<< parameters.go-version >>
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/gotchane/odh

commands:
  go_mod_download:
    steps:
      - restore_cache:
          name: Restore go modules cache
          keys:
            - go-modules-{{ checksum "go.sum" }}

      - run: go mod download

      - save_cache:
          name: Save go modules cache
          key: go-modules-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

jobs:
  release:
    parameters:
      go-version:
        type: string

    executor:
      name: build
      go-version: << parameters.go-version >>

    steps:
      - checkout
      - go_mod_download
      - run:
          name: Run goreleaser
          command: curl -sL https://git.io/goreleaser | bash -s -- --rm-dist

workflows:
 release:
    jobs:
      - release:
          go-version: "1.13.5"
          filters:
            branches:
              only: /master/
            # tags:
            #   only: /[0-9]+(\.[0-9]+)(\.[0-9]+)/
